

html {
    body {
        margin: 0;
        padding: 0;
        background: #EEEEEE;

    }
    p {
      border: solid .1rem #326273;
      width: 80%;
      margin: 0 auto;
      margin: 3rem 1rem 0 .5rem;
    }
    h5 {
      display: inline-block;
      color: #E39774;

    }
    input {

    }

}

.prompt {
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
  background: #5C9EAD;
  color: #fff;
  height: 18rem;
  width: 30%;
  clear: both;
  padding: 1rem .5rem 0 .5rem;
  font-size: 2rem;

  button {
    float: left;
    width: 90%;
    height: 3rem;
    margin: 1rem 0 0 .5rem;
    background: #FFFFFF;
    color: #E39774;
    border: none;
  }
}

.hidden {
  display: none;
}
